apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: registry-user-default
  namespace: kubeflow
rules:
- apiGroups:
  - ""
  resourceNames:
  - model-registry-service
  resources:
  - services
  verbs:
  - get